.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  color: #38bdf8;
  font-size: 1.2rem;
  margin-right: 20%;
  white-space: nowrap;
}

/* NAV LINKS CONTAINER */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  flex: 1;
}

/* Hide scrollbar (Chrome, Edge, Safari) */
.navbar ul::-webkit-scrollbar {
  display: none;
}

.navbar li {
  white-space: nowrap;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
}

.navbar a:hover {
  color: #38bdf8;
}
@media (max-width: 600px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo {
    font-size: 1rem;
    margin-right: 15px;
  }

  .navbar a {
    font-size: 0.9rem;
  }
}