.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020617;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  z-index: 1000;
}

.logo {
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #38bdf8;
}
